* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title__icon  {
    border-radius: 50%;
    background-color: red;
    height: 1.7em;
    width: 1.7em;
    padding: 10px;
    box-shadow: outset 2px 2px 2px red;
}
