* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.div-title__title,
.div-title__text {
    color: #8c8787;
}

.div-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20em;
    justify-content: space-around;
}

.div-title__title {
    font-size: 2.3em;
}

.div-title__subtitle {
    color: #e0dada;
    font-size: 1.6em;
}

.div-title__icon  {
    border-radius: 50%;
    background-color: #c54b3c;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    text-align: center;
    box-shadow: 0px 0px 2px 1px #c54b3c;
}

.section-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 5% 0 5%;
}