*{
	margin: 0;
	padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background:url('../images/banner-img3.jpeg');
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
    border-bottom: 8px solid rgb(198, 87, 68);
}

.hero::before {
    content: "";
    background-color: rgba(198, 87, 68, 0.92);
    position: absolute;
    left: 0; 
    right: 0;
    top: 0; 
    bottom: 0;
}

.hero > * {
    z-index: 1;
}

.hero i.logo{
    border: 1px solid #fff;
    background-color: #fff;
    padding: 8px;
    font-size: 30px;
    color: #000;
}

.hero__logo-text {
    text-transform: uppercase;
    font-size: 10px;
    padding-top: 10px;
}

.hero h2 {
    font-weight: normal;
    padding: 0 20px 10px;
    text-align: center;
}

.hero__logo-title {
    padding: 15px;
}

.hero__text {
    font-size: 13px;
    text-align: center;
    display: none;
}

.hand-img {
    display: none;
    flex: 1;
}

.button-app {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.btn-media {
    background-color: #000;
    color: #fff;
    max-width: 160px;
    display: flex;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    margin: 5px;
}

.btn-media i {
    flex: 1;
    font-size: 30px;
}

.btn-media__text {
    flex: 3;
}

.first-text {
    font-size: 11px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.google-text {
    font-size: 20px;
}

.apple{
    font-family: 'Roboto', sans-serif;
}

.apple .first-text{
    text-transform: none;
    font-size: 12px;
}

.icons {
    display: flex;
    justify-content: space-around;
    min-width: 100px;
    margin-bottom: 25px;
} 

.icons i {
    font-size: 0.5em;
    font-size: 20px;
}

.div-title__title,
.div-title__text {
    color: #8c8787;
}

.div-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20em;
    justify-content: space-around;
    width: 95%;
    text-align: center;
}

.div-title__title {
    font-size: 1.9em;
}

.div-title__subtitle {
    color: #e0dada;
    font-size: 1.6em;
}


.div-title__icon {
    border-radius: 50%;
    background-color: #c54b3c;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    box-shadow: 0px 0px 2px 1px #c54b3c;
    color: #FFF;
}

.last-div {
    background-color: #c54b3c;
}

.last-div__text {
    padding: 3% 5%;
    text-align: center;
    color: white;
    font-size: 2.3em;
}

.section-title {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
    flex-wrap: wrap;
    width: 100%;
}
#works{
    background-color: #393b47;
}
.works__title{
	text-align: center;
	padding-top: 50px;
	background-color: #393b47;
	font-size: 3em;
	color: #ffffff;
}

.works__card{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #393b47;
	color: #ffffff;
	padding: 40px 15px 0 15px;
}

.works__card--reverse{
	flex-direction: row-reverse;
	background-color: #2b2e37;
}

.works__icon{
	display: flex;
	width: 50px;
	margin: 20px auto 0 auto;
}

.works__icon--art{
	background-color: #fff;
}

.card__title{
	text-align: center;
	font-size: 2em;
	margin: 20px 0;
}

.card__par{
	line-height: 1.4em;
}

.card__img{
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: auto;
	margin-top: 30px;
}

footer {
    background-color: #c25446;
    color: white;
    margin 5%;
    padding-top: 5%;
}

footer h1 {
    text-align: center;
    font-size: 3em;
    width: 50%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    margin: 2% 5%;
} 

form label {
    margin-bottom: 5px;
}

form input {
    padding: 2%;
    border-radius: 2px;
}

form input, textarea {
    border: none;
    margin-bottom: 5%;
    border-radius: 2px;
}

form button {
    width: 100px;
    background-color: #ab4747;
    color: white;
    border: none;
    padding: 5px;
    margin-bottom: 5%;
}

.copyright {
    width: inherit;
    height: 20px;
    color: #c25446;
    background-color: #fff;
    padding: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .hero__text {
        display: block;
        max-width: 700px;
    }
    .div-title {
        width: 70%;
    }

	.works__block--1{
		display: flex;
		flex-direction: row;
		width: 50%;
		max-width: 500px;
	}

	.works__block--2{
		display: flex;
		flex-direction: column;
		height: auto;
		justify-content: flex-end;
	}

	.works__sec{
		margin-left: 20px;
	}

	.works__icon{
		display: inline-block;
		width: 45px;
		height: 50px;
	}

	.card__title{
		text-align: left;
	}

}

@media screen and (min-width: 992px){
    .hero {
        background: none ;
    }

    .hero::before {
        background-color: none;
        background:url('../images/banner-img3.jpeg');
        background-repeat: no-repeat;
        background-size: cover; 
        filter: blur(5px);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
    }

    .hand-img {
        display: flex;
    }

    .hero__description {
        display: flex; 
        max-width: 900px;
    }

    .description-text {
        flex-direction: column;
        align-self: center;
        text-align: left
    }

    .hero h2, .hero__text {
        text-align: left;
    }

    .button-app, .description-text h2 {
        padding-left: 0;
        justify-content: flex-start;
    }

    .description-text h2 {
        font-weight: bold;
        text-shadow: 1px 1px #444;
    }

    .section-title {
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
    }

    .div-title {
        /*width: 100%%;*/
        width: 25%;
        height: 25em;
        padding: 0 2%;
    }
	.works__card{
		padding: 50px 10% 0 10%;
	}

    .copyright {
        padding: 2%;
    }
}

@media screen and (min-width: 1200px){
	.works__card{
		padding: 50px 20% 0 20%;
	}
    form {
        margin: 5% 30%;
    } 

    form button {
        margin-bottom: 0;
    }

    .div-title {
        max-height: 22em;
    }
    
}
