* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background: url('../images/banner-img3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-bottom: 8px solid rgb(198, 87, 68);
}

.page-header::before {
    content: "";
    background-color: rgba(198, 87, 68, 0.92);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.page-header>* {
    z-index: 1;
}

.page-header i.logo {
    border: 1px solid #fff;
    background-color: #fff;
    padding: 8px;
    font-size: 30px;
    color: #000;
}

.page-header__logo-text {
    text-transform: uppercase;
    font-size: 10px;
    padding-top: 10px;
}

.page-header h2 {
    font-weight: normal;
    padding: 0 20px 10px;
    text-align: center;
}

.page-header__logo-title {
    padding: 15px;
}

.page-header__text {
    font-size: 13px;
    text-align: center;
    display: none;
}

.hand-img {
    display: none;
    flex: 1;
}

.store {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.btn-media {
    background-color: #000;
    color: #fff;
    max-width: 160px;
    display: flex;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    margin: 5px;
}

.btn-media i {
    flex: 1;
    font-size: 30px;
}

.btn-media__text {
    flex: 3;
}

.first-text {
    font-size: 11px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.google-text {
    font-size: 20px;
}

.apple {
    font-family: 'Roboto', sans-serif;
}

.apple .first-text {
    text-transform: none;
    font-size: 12px;
}

.icons {
    display: flex;
    justify-content: space-around;
    min-width: 100px;
    margin-bottom: 25px;
}

.icons i {
    font-size: 0.5em;
    font-size: 20px;
}

.box-content__title,
.box-content__text {
    color: #8c8787;
}

.box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20em;
    justify-content: space-around;
    width: 95%;
    text-align: center;
}

.box-content__title {
    font-size: 1.9em;
}

.box-content__subtitle {
    color: #e0dada;
    font-size: 1.6em;
}

.box-content__icon {
    border-radius: 50%;
    background-color: #c54b3c;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    box-shadow: 0px 0px 2px 1px #c54b3c;
    color: #FFF;
}

.reason-to-use {
    background-color: #c54b3c;
}

.reason-to-use__text {
    padding: 3% 5%;
    text-align: center;
    color: white;
    font-size: 2.3em;
}

.reason-to-use__container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
    flex-wrap: wrap;
    width: 100%;
}

/* ============ SEE HOW IT WORKS SECTION ==============*/

#see-how-it-works{
    background-color: #393b47;
}
.see-how-it-works__title{
	text-align: center;
	padding-top: 50px;
	background-color: #393b47;
	font-size: 3em;
	color: #ffffff;
}

.step{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #393b47;
	color: #ffffff;
	padding: 40px 15px 0 15px;
}

.step--reverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 15px 0 15px;
	background-color: #2b2e37;
     color: #ffffff;
}

.icon{
	display: flex;
	width: 50px;
	margin: 20px auto 0 auto;
}

.heading-goes-here__title{
	text-align: center;
	font-size: 2em;
	margin: 20px 0;
}

.heading-goes-here__par{
	line-height: 1.4em;
}

.step__img{
    margin-top: 50px;
}

.get-in-touch {
    background-color: #c25446;
    color: white;
    margin 5%;
    padding-top: 5%;
}

.get-in-touch h1 {
    text-align: center;
    font-size: 3em;
    width: 50%;
    margin: 0 auto;
}

.get-in-touch__form-group {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}

.get-in-touch__form-label {
    margin-bottom: 5px;
}

.get-in-touch__form-input {
    padding: 2%;
    border-radius: 2px;
}

.get-in-touch__form-input, .get-in-touch__form-textarea {
    border: none;
    margin-bottom: 5%;
    border-radius: 2px;
}

.get-in-touch__form-textarea {
    height: 100px;
}

.get-in-touch__form-button {
    width: 100px;
    background-color: #ab4747;
    color: white;
    border: none;
    padding: 5px;
    margin-bottom: 5%;
}

.copyright {
    width: inherit;
    height: 20px;
    color: #c25446;
    background-color: #fff;
    padding: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .page-header__text {
        display: block;
        max-width: 700px;
    }

    .div-title {
        width: 70%;
    }

	.step__heading{
		display: flex;
		flex-direction: row;
		width: 50%;
		max-width: 500px;
        margin-bottom: 30px;
	}

	.heading-goes-here{
		margin-left: 20px;
	}

	.icon{
		display: inline-block;
		width: 45px;
		height: 50px;
	}

	.heading-goes-here__title{
		text-align: left;
	}
}

@media screen and (min-width: 992px) {
    .page-header {
        background: none;
    }
    .page-header::before {
        background-color: none;
        background: url('../images/banner-img3.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
    }
    .hand-img {
        display: flex;
    }
    .page-header__description {
        display: flex;
        max-width: 900px;
    }
    .description-text {
        flex-direction: column;
        align-self: center;
        text-align: left
    }
    .page-header h2,
    .page-header__text {
        text-align: left;
    }
    .store,
    .description-text h2 {
        padding-left: 0;
        justify-content: flex-start;
    }
    .description-text h2 {
        font-weight: bold;
        text-shadow: 1px 1px #444;
    }
    .reason-to-use__container {
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
    }
    .box-content {
        /*width: 100%%;*/
        width: 25%;
        height: 25em;
        padding: 0 2%;
    }
	.step,
    .step--reverse{
		padding: 50px 10% 0 10%;
	}

    .copyright {
        padding: 2%;
    }
}

@media screen and (min-width: 1200px){
	.step,
    .step--reverse{
		padding: 50px 20% 0 20%;
	}
    .get-in-touch__form-group {
        margin: 0 30%;
    } 

    .get-in-touch__form-button {
        margin-bottom: 5%;
    }
    .box-content {
        max-height: 22em;
    }
}